
<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

          <%= form_tag @user, url: users_path, method: :get do %>
          <%= text_field_tag :search, params[:search], id: "search", autocomplete: "off", class: "form-control" %>
          <%= submit_tag 'search', class: "btn btn-primary" %> 
    

  <% end %>  


     


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <td> <%= user.name %> </td> 
      <td> <%= user.email %> </td> 
    <% end %>
  </tbody>
</table>

<br>


<script type="text/javascript">
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;
 
    matches = [];
 
    substrRegex = new RegExp(q, 'i');
 
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push({ value: str });
      }
    });
 
    cb(matches);
  };
};
 
var users = ['lex', 'foo', 'bar', 'jim'
];
 
$('#search').typeahead({
  hint: true,
  highlight: true,
  spellcheck: true,
  minLength: 2
},
{
  name: 'users',
  displayKey: 'value',
  templates: {
    suggestion: Handlebars.compile
  }
  source: substringMatcher(users)
});

$('#search').typeahead('open');

</script>
